* {
  box-sizing: border-box;
}

body {
  background-color: #ffff;
}

.firstSection {
  background-color: black;
  position: relative;
  align-items: center;
  justify-content: center;
}

img.pannerimg {
  opacity: 0.2;
  background-image: url(Images/1.jpg);
  width: auto;
}

.mainTitle {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 10px;
}

.mainTitle h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 28px;
}

.myname {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

@media only screen and (max-width: 1130px) {
  .myname {
    font-size: 2.5rem;
  }

  .mainTitle h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 806px) {
  .myname {
    font-size: 2.0rem;
  }

  .mainTitle h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 675px) {
  .myname {
    font-size: 1.4rem;
  }

  .mainTitle h2 {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 493px) {
  .myname {
    font-size: 1.2rem;
  }

  .mainTitle h2 {
    font-size: 0.5rem;
  }
}

.navbar {
  background-color: #242222;
}

.nav-item {
  margin: 0 20px 0 0;
}

.nav-item:hover {
  background-color: #363232;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 45%;
}

.about-me {
  background-color: #00bdbd;
  color: #fff;
}

.heading {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.container {
  padding: 3% 0 3% 0;
}

.myphoto {
  width: 75%;
  border-radius: 85%;
}

.Skills {
  background-color: #eeeeee;
}

.heading h2 {
  color: #810000;
  margin-bottom: 9%;
}

.Skills .container .row .col {
  display: flex;
  text-align: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box .percent {
  position: relative;
  width: 200px;
  height: 200px;
}

.box .percent svg {
  position: relative;
  width: 280px;
  height: 300px;
}

.box .percent svg circle {
  width: 180px;
  height: 180px;
  fill: none;
  stroke-width: 10px;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #fdfdfd;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: 87;
  stroke: #f44336;
}

.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .percent .number h2 {
  color: #999;
  font-size: 2.5rem;
}

.box .percent .number h2 span {
  color: #999;
  font-size: 1.3rem;
}

.box .text {
  padding: 10px 0 0;
  color: #65665f;
}

.box .percent .bootstrap circle:nth-child(2) {
  stroke-dashoffset: 108;
  stroke: #f44336;
}

.box .percent .JavaScript circle:nth-child(2) {
  stroke-dashoffset: 42;
  stroke: #f44336;
}

.box .percent .React circle:nth-child(2) {
  stroke-dashoffset: 132;
  stroke: #f44336;
}

.box .percent .Node circle:nth-child(2) {
  stroke-dashoffset: 114;
  stroke: #f44336;
}

.box .percent .SQL circle:nth-child(2) {
  stroke-dashoffset: 72;
  stroke: #f44336;
}

/*******fddfdfdf******/
.Trainnig {
  background-color: #87a7b3;
  text-align: left;
  color: #144336;
}

.udemy-logo, .udacity-logo {
  width: 100%;
  padding: 15%;
  background-color: #eeeeee;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .Trainnig .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .udemy-logo, .udacity-logo {
    width: 80%;
    padding: 10%;
  }
}

@media screen and (max-width: 992px) {
  .Trainnig .container .row {
    text-align: center;
  }
}
.Trainnig .container .row .col:nth-child(2) {
  background-color: #eeeeee;
  border-radius: 10%;
  padding: 2%;
}
.Trainnig .container .row .col:nth-child(1) {
margin: 1%;
  padding: 2%;
}

.Portofolio ,.Portofolio h2 {

  
  color: #fff;
  background-color: #1597bb;
}
